<div class="thoughts">
    
  {{#each this}}
  <section class="thought">
   
    <div class="meta">
    
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{thought_text}}
    </div>
  </section>
  {{/each}}
</div>