<div class="thoughts">
  {{#each this}}
    <section class="thought">

      <div class="thought-text">
        {{thought_text}}
        {{id}}
      </div>
      <div class="meta">
        Created by
        {{user.username}}
        on
        {{format_date created_at}}
      </div>

    </section>
  {{/each}}
</div>