{{> post-info post}}

{{#if loggedIn}}
<form class="thought-form">
  <div>
    <textarea name="thought-body"></textarea>
  </div>

  <div>
    <button type="submit">Add thought</button>
  </div>
</form>
{{/if}}
{{> thought_text post.thought_text}}


{{#if loggedIn}}
<script src="/javascript/thought.js"></script>
{{/if}}