{{> post-info post}}
 <h3>Thoughts for this post</h3>
{{> thoughts post.thoughts}}

{{#if loggedIn}}
<form class="thought-form">
  <div>
    <textarea name="thought-body"></textarea>
  </div>

  <div>
    <button type="submit">Add thought</button>
  </div>
</form>
{{/if}}



{{#if loggedIn}}
<script src="/javascript/thought.js"></script>
{{/if}}

