{{> post-info post}}


{{#if loggedIn}}
<form class="thought-form">
  <div>
    <textarea name="thought-body"></textarea>
  </div>

  <div>
    <button type="submit">add thought</button>
  </div>
</form>
{{/if}}

{{> thoughts post.thoughts}}

{{#if loggedIn}}
<script src="/javascript/thought.js"></script>
{{/if}}