:root {
  --primary: #ccdad5;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #2c2c2c;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}
main {
  margin: 20px auto;
  width: 94%;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--dark);
  padding: 3% 4%;
}

h2{
  text-align: center;
}
.tech {
  text-decoration: none;
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}


header nav a, #logout {
  color: var(--primary);
  font-weight: lighter;
  padding: 10px 25px;
  text-decoration: none;
}
a {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}


.list {
  text-decoration: none;
}


.post {
  /* text-align: center; */
  font-size: 18px;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  display: block;
  block-size: fit-content;
}
 .posts {
  margin-bottom: 5vw;
  color: red;
 }

/*Home handlebars styling*/


button {
  background-color: var(--light-dark);
  padding: 5px 30px;
  margin: 5px 10;
  font-size: 1rem;
  border-radius: var(--border-radius);
  color: var(--primary);

  box-shadow: 3px 3px var(--dark);
}

input {
  width: 90%;
  padding: 1%;
  margin: 5px 5px;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
}

form {
  text-align: center;
  font-size: 18px;
  margin-top: 5vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  display: block;
  block-size: fit-content;
}

.login-header,
.singup-header {
  text-align: center;
  color: var(--primary);
  background-color: var(--dark);
}

.title,
.meta {
  flex-wrap: wrap;
  padding: 0.5%;
  color: var(--primary);
  background-color: var(--dark);
}

.title a {
  color: var(--secondary);
}
/* update post*/
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/*Footer */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

/* col-sm */
@media screen and (min-width: 640px) {
}

/* col-md */
@media screen and (min-width: 768px) {
}

/* col-lg */
@media screen and (min-width: 992px) {
}

/* col-xl */
@media screen and (min-width: 1200px) {
}
