:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #271510;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

header {
  background-color: var(--dark);
  padding: 1.5%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

a {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}

header nav a {
  color: var(--primary);
  font-weight: lighter;
  padding: 15px 15px;
 text-decoration: none;
}

#logout{
  border: none;
  background: none;
  color: var(--primary);
  font-weight: lighter;
  padding: 15px 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px; 
}

.tech {
  text-decoration: none;
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  text-decoration: none;
}
main {
  margin: 20px auto;
  width: 94%;
}

#logout {
  text-decoration: none;
}



/* CARDS */

 article {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }  

  .title {
    color: var(--secondary);
    background-color: var(--dark);
  }
.title a {
  color: var(--secondary);
}



/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

/* col-sm */
@media screen and (min-width: 640px) {
}

/* col-md */
@media screen and (min-width: 768px) {

   
}

/* col-lg */
@media screen and (min-width: 992px) {
}

/* col-xl */
@media screen and (min-width: 1200px) {

}
